SmartRouting.module/Schemas/OrchestratorResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1769773237084" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1769773237084">
  <complexType name="SmartRoutingType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="sourceName" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="documentType" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="payload" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="targetSystem" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="fireAndForget" type="boolean"/>
    </sequence>
  </complexType>
  <element name="SmartRouting" type="tns:SmartRoutingType"/>
</schema>
