SmartRouting.module/Schemas/ResponsesResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1769708620147" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1769708620147">
    
  <complexType name="ResponseElementType">
        
    <sequence>
            
      <element maxOccurs="1" minOccurs="0" name="system" type="string"/>
            
      <element maxOccurs="1" minOccurs="0" name="statusCode" type="string"/>
            
      <element maxOccurs="1" minOccurs="0" name="response" type="string"/>
          
    </sequence>
      
  </complexType>
    
  <element name="ResponseElement" type="tns:ResponseElementType"/>
    
  <complexType name="ResponseElementArrayType">
        
    <sequence>
            
      <element maxOccurs="unbounded" minOccurs="0" ref="tns:ResponseElement"/>
          
    </sequence>
      
  </complexType>
    
  <element name="ResponseElementArray" type="tns:ResponseElementArrayType"/>
  
</schema>
